<div class="announcement-wrapper">
   <div class="announcement-detail p-3">
       <div class="d-flex align-items-center" style="gap: 1rem;">
           <span id="back" style="font-size: 3rem; cursor: pointer;">
               <ion-icon name="arrow-back-circle-outline"></ion-icon>
           </span>
           <h1 class="display-3">Başlık</h1>
       </div>
       <div class="divider"></div>
       <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aspernatur rerum natus voluptatibus, deserunt quod. Fugit harum voluptate placeat officia magnam deleniti. Dolorem, quae porro!</p>
   </div>
</div>

<script>
    document.getElementById('back').addEventListener('click', _ => {
        document.querySelector('.announcement-wrapper').classList.remove('active')
        document.querySelector('.main-wrapper').classList.remove('announcement-wrapper-opened')
    })
</script>
