<div class="col-md-7 col-12 announcements">
</div>

<script src="/scripts/localization-handler.js"></script>
<script>
    async function fetchAnnouncements(){
        const response = await fetch('data/announcements.json')
        const json = await response.json()
        const announcements = document.querySelector('.announcements')

        const teacherResponse = await fetch('data/users.json')
        const teacherJson = await teacherResponse.json()

        announcements.innerHTML = json.map((item) => {
            const teacher = teacherJson.find(x => x.id === item.teacher)
            return `
                <div class="announcement">
                    <h3>${item.title}</h3>
                    <p class="text-muted lead text">${item.description}</p>
                <div class="d-flex align-items-center">
                    <div class="avatar" style="--teacher: url(${teacher.profilePhoto})"></div>
                    <p class="text-muted mb-0 mx-2"><b>${teacher.name}</b> <span data-translate="shared">tarafından</span></p>
                    </div>
                    <button class="announcement-button btn bg-primary text-light mt-3" data-translate="read">Oku</button>
                    <div class="divider"></div>
                </div>
            `
        }).join('')

        document.querySelectorAll('.announcement-button').forEach(button => {
            button.addEventListener('click', e => {
                document.querySelector('.announcement-wrapper').classList.add('active')
                document.querySelector('.main-wrapper').classList.add('announcement-wrapper-opened')
                document.querySelector('.announcement-detail h1').textContent = e.target.parentElement.querySelector('h3').textContent
                document.querySelector('.announcement-detail p').textContent = e.target.parentElement.querySelector('.lead').textContent
            })
        })

        setAutoLang()
       

    }
    fetchAnnouncements()

</script>