<div class="col-md-5 col-12 overflow-auto">
    <div class="calendar d-flex justify-content-between">
        <div class="year display-4" id="year">2021</div>
        <div class="month display-4 text-muted" id="month">Aralık</div>
    </div>
    <div class="btn-group my-4" role="group" aria-label="Basic example">
    <button id="previous-month" type="button" class="btn btn-secondary"><ion-icon name="arrow-back-outline"></ion-icon></button>
    <button type="button" id="reset-calendar" class="btn btn-secondary"><ion-icon name="calendar-number-outline"></ion-icon></button>
    <button id="next-month" type="button" class="btn btn-secondary"><ion-icon name="arrow-forward-outline"></ion-icon></button>
    </div>
    <div class="days">
    </div>
    <div class="divider"></div>
    <div class="event-detail">
    </div>
</div>

<script src="/scripts/localization-handler.js"></script>
<script>

    const months = [
        "january",
        "february",
        "march",
        "april",
        "may",
        "june",
        "july",
        "august",
        "september",
        "october",
        "november",
        "december"
    ]

    fetch('/data/exams.json')
    .then(response => response.json())
    .then(exams  => {



        const date = new Date()
        let year = date.getFullYear()
        let month = date.getMonth()+1


        document.getElementById('reset-calendar').addEventListener('click', _ => {
            const resetDate = new Date()
            year = resetDate.getFullYear()
            month = resetDate.getMonth()+1
            getTotalDay()
            document.getElementById('year').textContent = year
            document.querySelector('.event-detail').innerHTML = ''
        })

        document.getElementById('next-month').addEventListener('click', _ => {
            month++
            if(month > 12){
                year++
                month = 1
            }
            getTotalDay()
            document.getElementById('year').textContent = year
            document.querySelector('.event-detail').innerHTML = ''
        })

        document.getElementById('previous-month').addEventListener('click', _ => {
            month--
            if(month < 1){
                year--
                month = 12
            }
            getTotalDay()
            document.getElementById('year').textContent = year
            document.querySelector('.event-detail').innerHTML = ''
        })

        function getTotalDay(){


            document.querySelector('.days').innerHTML = ''

            const skip = new Date(year, month-1, 1).getDay()-1

            const totalDay = new Date(year, month, 0).getDate()
            for(let y = 1; y<=skip; y++){
                const day = document.createElement('div')
                day.classList.add('day')
                document.querySelector('.days').appendChild(day)
            }
            for(let i = 1; i<=totalDay; i++){


                const day = document.createElement('div')
                day.classList.add('day')
                day.textContent = i+' '

                const date = `${year}/${month < 10 ? '0'+month : month}/${i < 10 ? '0'+i : i}`
                const events = exams.filter(exam => exam.date === date)
                if(events.length){
                    day.textContent += 'Quiz'

                    day.addEventListener('click', _ => {
                        document.querySelector('.event-detail').innerHTML = events.map(event => {
                            return `
                                <h1 id="event-name">${event.title}</h1>
                                <time id="time">${event.date}</time>
                            `
                        })
                    })

                }

                document.querySelector('.days').appendChild(day)



            }
            fetch(`/lang/${localStorage.lang}.json`)
            .then(response => response.json())
            .then(lang => {
                document.getElementById('month').textContent = lang[months[month-1]]

            })
        }

        getTotalDay()

    })

</script>