<section id="cancelled-wrapper" class="d-none">
  <div class="text-center center">
    <img class="permission-image" src="/images/exam-cancelled.svg" />
    <h2 data-translate="examCancelled">Sınav İptali</h2>
    <p data-translate="obeyRules">Lütfen Kurallara Uyun</p>
    <button data-translate="home" class="btn btn-outline-primary">
      Ana Sayfa
    </button>
    <button data-translate="toObject" class="btn btn-warning">
      İtiraz Et
    </button>
  </div>
</section>