<script
  src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
></script>
<section id="exam-submitted-wrapper" class="d-none">
  <div class="text-center center">
    <lottie-player
      background="#f1e7e7"
      speed="1"
      style="width: 300px; height: 300px;"
      autoplay
    ></lottie-player>
    <h2 data-translate="thanks">Teşekkürler</h2>
    <p data-translate="examSubmitted">Sınavınız Bize Ulaştı ✔</p>
    <button data-translate="home" class="btn btn-outline-primary">
      Ana Sayfa
    </button>
  </div>
</section>