<div class="accordion mt-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        data-translate="quizDetails"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
        data-translate="quizDetails"
      >
        Sınav Detayları
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p><span data-translate="totalQuestion">Toplam Soru:</span> <b>{{totalQuestion}}</b></p>
        <p><span data-translate="remainSecond">Kalan Süre:</span>
          <b><span id="remain-minute">00</span>:<span
              id="remain-second"
            >00</span></b></p>
      </div>
    </div>
  </div>
</div>