<nav class="navbar navbar-expand-lg bg-primary-color">
  <div class="container-fluid px-5">
    <a class="navbar-brand text-light" href="/" data-translate="exams">Sınavlar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            data-translate="exams"
            class="text-light nav-link active"
            aria-current="page"
            href="exams"
          >Sınavlar</a>
        </li>
        <li class="nav-item">
          <a
            data-translate="grades"
            class="text-light nav-link"
            aria-current="page"
            href="grades"
          >Notlarım</a>
        </li>
        <li class="nav-item">
          <a data-translate="support" class="text-light nav-link" aria-current="page" href="#">Destek</a>
        </li>
      </ul>
    </div>
  </div>
</nav>