<section id="permission-wrapper">
  <div class="text-center">
    <img class="permission-image" src="/images/permission.svg" />
    <h2 data-translate="micAndCamPermission">Kamera ve Mikrofon İzni</h2>
    <p data-translate="allowToContinue">Devam etmeden önce lütfen izin verin</p>
    <button data-translate="ok" id="ask-permission" class="btn btn-outline-primary">
      Tamam ✔
    </button>
  </div>
</section>