<div class="fab-wrapper">
    <div class="lang" data-lang="tr">
        <img src="/images/flags/turkish.png" alt="switch to turkish" />
    </div>
    <div class="lang" data-lang="en">
        <img src="/images/flags/english.png" alt="switch to english" />
    </div>
    <div class="lang" data-lang="fr">
        <img src="/images/flags/french.png" alt="switch to french" />
    </div>
    <div class="fab">
        <ion-icon name="language-outline"></ion-icon>
    </div>
</div>

<script src="/scripts/localization-handler.js"></script>
<script>
    document.querySelector('.fab').addEventListener('click', _ => {
        document.querySelector('.fab-wrapper').classList.toggle('active')
    })

    document.querySelectorAll('.lang').forEach(langButton => {
        langButton.addEventListener('click', _ => {
            localStorage.lang = langButton.dataset.lang
            setLang(langButton.dataset.lang)
        })
    })

 
    

   

    window.addEventListener('scroll', _ => {
        if(document.querySelector('.fab-wrapper').classList.contains('active')){
            document.querySelector('.fab-wrapper').classList.remove('active')
        }
    })
</script>