<div class="px-md-4 d-flex align-items-center justify-content-between">
    <h3 class="lead">Merhaba, <strong class="text-capitalize" id="greeting-name">İsim Soyisim</strong> </h3>
    <div class="avatar" id="greeting-avatar"></div>
</div>

<script>
    const currentUser = JSON.parse(sessionStorage.currentUser)
    document.getElementById('greeting-name').textContent = currentUser.name
    document.getElementById('greeting-avatar').style.setProperty('--teacher', `url(${currentUser.profilePhoto})`)
    document.getElementById('greeting-avatar').setAttribute('title', `Photo of ${currentUser.name}`)




</script>