{{#section 'header'}}
        <link rel="stylesheet" href="/styles/exam.css" />
        <link rel="stylesheet" href="/styles/snackbar.css" />
{{/section}}
{{> permission }}
{{> examCancelled }}
{{> examSubmitted }}

<section id="exam-wrapper" class="d-none">
    <div class="modal" id="rulesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Kurallar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="text-capitalize">
                        <li>kural 1</li>
                        <li>kural 2</li>
                        <li>kural 3</li>
                        <li>kural 4</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Anladım</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="submitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel" data-translate="ok">Onayla</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p data-translate="areYouSure">Are you sure you want to complete your exam?</p>
                </div>
                <div class="modal-footer">
                    <button id="close-submit-modal" type="button" data-translate="back" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close">Geri Dön</button>
                    <button id="submit-exam" data-translate="confirm" type="button" class="btn btn-primary">Onayla</button>
                </div>
            </div>
        </div>
    </div>

    <h1>{{ question.title }}</h1>

    <seciton id="questions-wrapper" class="questions-wrapper">
        {{#each question.questions}}
            <ul id="{{@key}}" class="list-group py-2 d-none">
                <li 
                    class="text-capitalize list-group-item active" 
                    aria-current="true">
                        <b>{{increase @key}}.</b> {{ title }}
                         <button class="speak" data-speech="{{title}}">
                            <ion-icon name="volume-high-outline"></ion-icon>
                        </button>
                </li>
                {{#each answers}}
                    <li class="list-group-item answer">{{this}}
                        <button class="speak" data-speech="{{this}}">
                            <ion-icon name="volume-high-outline"></ion-icon>
                        </button>
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    </seciton>

    <div class="question-controller d-flex justify-content-between my-2" role="group" aria-label="Basic example">
        <button 
            id="prev-question"
            type="button"  
            class="btn btn-warning" data-translate="previous">⬅ Önceki</button>
        <button 
            id="next-question"
            type="button" 
            class="btn btn-primary" data-translate="next">Sonraki ➡</button>
    </div>

    {{> examDetails totalQuestion=question.questions.length}}
    <div class="camera">
        <video></video>
    </div>
</section>
<script src="/scripts/face-api.min.js"></script>
<script src="/scripts/snackbar.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const rulesModal = new bootstrap.Modal(document.getElementById('rulesModal'))
    const submitModal = new bootstrap.Modal(document.getElementById('submitModal'))
    const faculty = "{{ question.faculty }}"
    const currentUser = JSON.parse(sessionStorage.currentUser)
    const socket = io();
    socket.emit('join-faculty', faculty)

    let examResult

    let canHide = true

    const totalQuestion = parseInt('{{question.questions.length}}')
    const nextQuestion = document.getElementById('next-question')
    const camera = document.querySelector('.camera video')

    let mediaRecorder
    let chunks = []

    let remainTime = 600

    let currentQuestion = 0
    let cancelCount = 0

    const speak = (text) => {
        if ('speechSynthesis' in window) {
            console.log()
            const msg = new SpeechSynthesisUtterance();
            msg.text = text
            msg.lang = localStorage.lang
            window.speechSynthesis.speak(msg);
            sendActionInfo('sesli destek aldı')
        }
    }

    const sendActionInfo = (action) => {
        const time = Date.now()
        const user = currentUser.name
        const avatar = currentUser.profilePhoto
        fetch(`/send-message/${faculty}`, {
            method: 'POST',
            headers: {'content-type': 'application/json'},
            body: JSON.stringify({action, time, user, avatar})
        })
    }


    const examTimer = setInterval(() => {
        remainTime--
        document.getElementById('remain-minute').textContent = Math.floor(remainTime / 60)
        document.getElementById('remain-second').textContent = remainTime - Math.floor(remainTime / 60) * 60 >= 10 ? remainTime - Math.floor(remainTime / 60) * 60 : '0'+remainTime - Math.floor(remainTime / 60) * 60 
        if(remainTime == 0){
            clearInterval(examTimer)
        }
    }, 1000)

    function showQuestion(){
        if(document.querySelector('.list-group.d-block')){
            document.querySelector('.list-group.d-block').classList.add('d-none')
            document.querySelector('.list-group.d-block').classList.remove('d-block')
        }
        document.getElementById(currentQuestion).classList.remove('d-none')
        document.getElementById(currentQuestion).classList.add('d-block')
        if (currentQuestion >= totalQuestion - 1) {
            nextQuestion.textContent = 'Onayla'
        } else {
            nextQuestion.textContent = 'Sonraki'
        }
    }

    nextQuestion.addEventListener('click', _ => {
        if(currentQuestion >= totalQuestion-1){
            submitModal.toggle()
            return
        }
        currentQuestion++
        sendActionInfo(`${currentQuestion+1}. soruda`)
        showQuestion()
    })

    document.getElementById('prev-question').addEventListener('click', _ => {
            if (currentQuestion == 0) return
            currentQuestion--
            sendActionInfo(`${currentQuestion+1}. soruda`)
            showQuestion()
    })

    showQuestion()

    document.getElementById('submit-exam').addEventListener('click', _ => {
        clearInterval(examTimer)
        examResult = true
        mediaRecorder.stop()
        sendActionInfo(`Sınavını Tamamladı ✅`)
        submitModal.toggle()
        examSubmitted()
    })

    document.getElementById('ask-permission').addEventListener('click', _ => {
        sendActionInfo(`Kamera ve mikrofon izni soruldu`)
        askPermission()
    })

    function askPermission(){

        let showAlertCount = 0

        Promise.all([
            faceapi.nets.ssdMobilenetv1.loadFromUri('/models'),
        ]).then(() => {
            navigator.mediaDevices.getUserMedia({
                audio: true,
                video: true
            }).then(cameraStream => {
                navigator.mediaDevices.getDisplayMedia({
                    video: {
                        cursor: "always"
                    },
                    audio: {
                        echoCancellation: true,
                        noiseSuppression: true,
                        sampleRate: 44100
                    }
                }).then(screenStream => {
                    document.getElementById('permission-wrapper').classList.add('d-none')
                    document.getElementById('exam-wrapper').classList.remove('d-none')
                    rulesModal.toggle()
                    camera.srcObject = cameraStream
                    camera.play()
                    camera.muted = true



                    const detectFace = setInterval(async () => {
                        const detections = await faceapi.detectAllFaces(camera)
                        if(detections.length == 0){
                            showAlertCount++
                            if(showAlertCount >= 10){
                                Snackbar.show({ text: 'Lütfen kendinizi gösterin' })
                                showAlertCount = 0
                                cancelCount++
                                if(cancelCount >= 3){
                                    clearInterval(detectFace)
                                    cancelExam()
                                }
                            }
                        }
                        if(detections.length >= 2){
                            showAlertCount++
                            if(showAlertCount >= 10){
                                Snackbar.show({ actionText: 'Kamerada birden fazla kişi görünüyor lütfen dikkat edin.' })
                                showAlertCount = 0
                                cancelCount++
                                if(cancelCount >= 3){
                                    clearInterval(detectFace)
                                    cancelExam()
                                }
                            }
                        }
                        console.log(detections)
                        console.log(showAlertCount)
                    }, 1000)

                    mediaRecorder = new MediaRecorder(screenStream)
                    mediaRecorder.start()
                    console.log(mediaRecorder.state)

                    mediaRecorder.addEventListener('stop', e => {
                        clearInterval(detectFace)
                        clearInterval(examTimer)
                        const blob = new Blob(chunks, { 'type' : 'video/webm' })
                        chunks = []

                        const formData = new FormData()
                        formData.append('exam-video', new File([blob], 'exam'))
                        cameraStream.getTracks().forEach(track => {
                            track.stop()
                        })
                        screenStream.getTracks().forEach(track => {
                            track.stop()
                        })
                        fetch('/upload', {
                            method: 'POST',
                            body: formData
                        }).then(response => {
                            if(response.status == 200){
                                if(examResult == true){
                                    examSubmitted()
                                }else{
                                    document.getElementById('cancelled-wrapper').classList.remove('d-none')
                                    document.getElementById('exam-wrapper').classList.add('d-none')
                                }
                            }
                        })
                    })

                    mediaRecorder.addEventListener('dataavailable', e => {
                        console.log('chunks')
                        chunks.push(e.data)
                    })

                    document.querySelectorAll('.speak').forEach(button => {
                        button.addEventListener('click', _ => speak(button.dataset.speech))
                    })


                    window.addEventListener('blur', _ => {
                        if(!canHide){
                            cancelExam()
                        }else{
                            canHide = false
                        }
                    })
                })
                .catch(error => {
                    console.log('no permission')
                })
            }).catch(error => {
                console.log('no permission')
            })
        })
    }

    function examSubmitted(){
        document.getElementById('exam-submitted-wrapper').classList.remove('d-none')
        document.getElementById('exam-wrapper').classList.add('d-none')
        document.querySelector("lottie-player").load('https://assets4.lottiefiles.com/packages/lf20_jz2wa00k.json')
    }

    function cancelExam(){
        examResult = false
        mediaRecorder.stop()
        sendActionInfo(`Sınavı İptal Oldu ❌`)
    }

</script>