{{> userGreeting }}

<div class="overflow-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" data-translate="quiz">Sınav Adı</th>
        <th scope="col" data-translate="consultant">Danışman</th>
        <th scope="col" data-translate="date">Tarih</th>
        <th scope="col" data-translate="start">Başla</th>
      </tr>
    </thead>
    <tbody id="exam-list-body">
      {{!-- <tr>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <a href="ask-permission" type="button" class="btn btn-primary">
            Başla
          </a>
        </td>
      </tr> --}}
    </tbody>
  </table>
</div>

<div class="divider"></div>

<h1 data-translate="announcements">Duyurular</h1>

<div class="row">
  {{> announcements }}
  {{> calendar }}
</div>

<script>
  const examList = document.getElementById('exam-list-body') 
  async function fetchExams(){ 
    const response = await fetch('data/exams.json') 
    const exams = await response.json() 

    const teacherData = await fetch('data/users.json')
    const teachers = await teacherData.json()

    examList.innerHTML = exams.map((exam, index) => { 

        const teacher = teachers.find((item) => item.id === exam.teacher)

        const formattedDate = new Date(Date.parse(exam.date)) 
        const dateMatch = formattedDate.toDateString() === new Date().toDateString() 
        return ` <tr>
              <th>${index+1}</th> <td>${exam.title}</td>
              <td class="d-flex align-items-center flex-wrap" style="gap: 5px;">
                <div class="avatar" style="--teacher: url(${teacher.profilePhoto}"></div>
                ${teacher.name}
              </td> 
              <td>${formattedDate.toDateString()}</td>
              <td> <a href="exam/${exam.id}" type="button" data-translate="start" class="btn bg-primary-color ${!dateMatch && 'disabled' }"> Başla </a> </td> </tr> ` 
        }).join('') 
  } 
    
  fetchExams()
</script>