<div class="login-wrapper d-none">
    <form id="login-form" class="p-2 d-flex flex-wrap justify-content-center align-items-center">
        <img src="/images/logo/logo-tr.png" style="width: 10rem;" alt="logo" />
        <div>
            <div class="d-none alert alert-danger auth-failed" role="alert">
                Böyle bir kullanıcı bulamadık
            </div>
            <h1 class="display-4">Giriş Yapın</h1>
            <div class="input-group mb-3">
                <input required name="name" type="text" class="form-control" placeholder="E-Posta Adresiniz" aria-label="E-Posta Adresiniz">
                <span class="input-group-text" id="basic-addon2">@yasar.edu.tr</span>
            </div>
            <div class="input-group mb-3">
                <input required name="password" type="password" class="form-control" placeholder="Şifreniz" aria-label="Şifreniz" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="show-password">
                    <ion-icon name="lock-open-outline"></ion-icon>
                </button>
            </div>

            <button type="submit" class="w-100 p-2 btn bg-primary-color">Giriş Yap</button>
        </div>
    </form>
</div>

<script>
    fetch('/data/users.json')
    .then(response => response.json())
    .then(data => {
        document.querySelector('.login-wrapper').classList.remove('d-none')

        document.getElementById('show-password').addEventListener('click', _ => {
            const passwordInput = document.querySelector(`form input[name='password']`)
            const passwordInputType = passwordInput.getAttribute('type')
            if(passwordInputType === 'password'){
                passwordInput.setAttribute('type', 'text')
            }else{
                passwordInput.setAttribute('type', 'password')
            }
        })

        document.getElementById('login-form').addEventListener('submit', e => {
            e.preventDefault()
            const formData = new FormData(document.getElementById('login-form'));
            const formProps = Object.fromEntries(formData);

            const currentUser = data.find(user => user.name === formProps.name && user.password === formProps.password)
            if(currentUser){
                sessionStorage.currentUser = JSON.stringify(currentUser)
                if(currentUser.role === 'teacher'){
                    window.location.href = '/teacher'
                }else{
                    window.location.href = '/'
                }
            }else{
                document.querySelector('.auth-failed').classList.remove('d-none')
            }
        })
    })
</script>