{{> userGreeting }}

<h6>Fakülte: <b class="my-5 text-capitalize" id="faculty-info"></b></h6>

<fieldset class="bg-light my-2 p-2 student-logs">
    <legend>Öğrenci Hareketleri</legend>
    <ul id="action-list">
    </ul>
</fieldset>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/timeago-locales.js"></script>
<script src="/scripts/timeago.js/dist/timeago.min.js"></script>
<script>

  const socket = io();
  const faculty = currentUser.faculty
  socket.emit('join-faculty', faculty)


  timeago.register('tr', trLocale);
  timeago.register('fr', frLocale);
  timeago.register('en', enLocale);

  socket.on('student-action-logs', action => {
    console.log(action)
  })

  socket.on('student-action-info', action => {
    const result = JSON.parse(action)
    const li = document.createElement('li')
    li.className = 'd-flex align-items-center justify-content-center'

    const div = document.createElement('div')
    div.className = 'avatar sm'
    div.style.setProperty('--teacher', `url(${result.avatar})`)

    const p = document.createElement('p')
    p.innerHTML = `<b>${result.user}</b> ${result.action} <i>${timeago.format(new Date(result.time), localStorage.lang)}</i>`
    setInterval(() => {
      p.innerHTML = `<b>${result.user}</b> ${result.action} <i>${timeago.format(new Date(result.time), localStorage.lang)}</i>`
    }, 5000)

    li.appendChild(p)
    li.appendChild(div)


    document.getElementById('action-list').prepend(li)
  })

  document.getElementById('faculty-info').textContent = faculty
</script>