.camera {
  --border-radius: 0.5rem;

  width: 200px;
  height: 175px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .camera {
    bottom: 5%;
    height: 190px;
    width: 190px;
  }
}

@media (max-device-width: 320px) {
  #questions-wrapper ul {
    transform: scale(0.85);
    margin-block: -25px;
  }

  .camera {
    width: 130px;
    height: 130px;
  }
}
