:root {
  --primary-color: 208, 100%, 31%;
}

.bg-primary-color {
  background-color: hsl(var(--primary-color));
}

.btn.bg-primary-color {
  color: white;
}

body {
  background-color: #f1e7e7;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: hsl(var(--primary-color));
  z-index: 999;
  display: grid;
  place-items: center;
  user-select: none;
  pointer-events: none;
  animation: loader-hide 750ms linear forwards;
}

.loader img {
  width: 5rem;
  animation: logo-scale 1s linear forwards;
}

.logo {
  filter: brightness(0) invert(1);
}

@keyframes loader-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes logo-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(10);
  }
}

.avatar {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  background: var(--teacher);
  background-size: contain;
  background-position: center;
  border-radius: 50%;
}

.avatar.sm {
  --size: 20px;
}

.divider {
  margin-block: 1rem;
  height: 3px;
  background: hsl(var(--primary-color));
}

.announcement-wrapper {
  position: fixed;
  inset: 0;

  /* background: rgba(0, 0, 0, .5); */
  transform: translateX(200%);
}

.main-wrapper,
.announcement-wrapper {
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.announcement-wrapper.active {
  transform: translateX(0);
}

.main-wrapper.announcement-wrapper-opened {
  transform: translateX(-61%);
}

.announcement-detail {
  width: 60%;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  background: #dedede;
  border-left: 5px solid hsl(var(--primary-color));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 1000px) {
  .announcement-detail {
    width: 100%;
  }
}

.fab-wrapper {
  position: fixed;
  bottom: 10%;
  right: 5%;
  isolation: isolate;
}

.lang {
  cursor: pointer;
  z-index: -1;
  position: absolute;
  top: 30px;
  left: 20px;
  transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.lang img {
  width: 50px;
}

.lang:nth-child(1) {
  transition-delay: 0.5s;
}

.lang:nth-child(2) {
  transition-delay: 0.3s;
}

.lang:nth-child(3) {
  transition-delay: 0.1s;
}

.fab-wrapper.active .lang:nth-child(1) {
  transform: translateY(-80px) rotate(360deg);
  transition-delay: 0.1s;
}

.fab-wrapper.active .lang:nth-child(2) {
  transform: translateX(-80px) translateY(-20px) rotate(360deg);
  transition-delay: 0.3s;
}

.fab-wrapper.active .lang:nth-child(3) {
  transform: translateY(50px) translateX(-40px) rotate(360deg);
  transition-delay: 0.5s;
}

.fab {
  z-index: 99;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 85px;
  height: 85px;
  background-color: hsl(var(--primary-color));
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.fab ion-icon {
  color: white;
  font-size: 1.8rem;
}

@media (min-width: 1000px) {
  .permission-image {
    max-width: 30%;
  }
}
@media (max-width: 1000px) {
  .permission-image {
    max-width: 80%;
  }
}

.calendar {
  width: 100%;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.6rem;
}

.days .day {
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 1rem;
  border: 1px solid hsl(var(--primary-color));
  border-radius: 6px;
}

.student-logs {
  max-height: 20em;
  overflow-y: auto;
}
